*.ps1
/.vs
/Drogueria.Api/obj
/Drogueria.Api/bin
/Drogueria.Api/bin/Debug/netcoreapp3.1
/Drogueria.Core.App/obj
/Drogueria.Core.App/bin
/Drogueria.Core.Dominio/obj
/Drogueria.Core.Dominio/bin
/Drogueria.Core.Infraestructura/obj
/Drogueria.Core.Infraestructura/bin
/Drogueria.Core.Servicio/obj
/Drogueria.Core.Servicio/bin
*.csproj.user
*.cache
*.props
*.targets
[Bb]in/
[Oo]bj/
/.vs/Drogueria

*.suo
*.user
_ReSharper.*
bin
obj
packages